body {
  font-family: Arial;
  background: #020617;
  color: white;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 20px auto;
  background: #1e293b;
  padding: 20px;
  border-radius: 15px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
}

button {
  background: linear-gradient(45deg,#22c55e,#38bdf8);
  color: white;
  font-weight: bold;
}

img {
  max-width: 100%;
  margin-top: 10px;
}
