body {
  font-family: Arial;
  color: white;
  text-align: center;

  background: url("/bg.jpg") no-repeat center;
  background-size: cover;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  border-radius: 15px;
}

input, select, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

#drop-area {
  border: 2px dashed white;
  padding: 20px;
}
