body {
  background: #0b132b;
  color: white;
  text-align: center;
  font-family: sans-serif;
}

input, select, button {
  margin: 8px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  background: #00c853;
  color: white;
  cursor: pointer;
}
